elastic-config-spring/src/main/resources/META-INF/namespace/reg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.github.com/schema/config/reg"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        targetNamespace="http://www.github.com/schema/config/register"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    
    <xsd:element name="config">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="serverlist" type="xsd:string" use="required" />
                    <xsd:attribute name="namespace" type="xsd:string" use="required" />
                    <xsd:attribute name="project" type="xsd:string" use="required" />
                    <xsd:attribute name="version" type="xsd:string" use="required" />
                    <xsd:attribute name="node" type="xsd:string" use="required" />
                    <xsd:attribute name="refresh" type="xsd:boolean" default="false" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
